
    <h2 class="display-4">Menu</h2>
    <hr>
    <ul class="list-group">
            <a routerLink="countries/by-country" routerLinkActive="active"
            class="list-group-item list-group-item-action">
            By Country
        </a>
        <a routerLink="countries/by-capital" routerLinkActive="active"
            class="list-group-item list-group-item-action">
            By Capital
        </a>
            <a routerLink="countries/by-region" routerLinkActive="active"
            class="list-group-item list-group-item-action">
            By Region
        </a>
    </ul>
