<ng-template #msg>
    <div class="alert alert-info align-items-center"> <img src="assets/loader.svg" alt="" width="35px"> Please, wait.</div>
</ng-template>

<div *ngIf="country;else msg" class="row my-3">
    <div class="col-12">
        <h1 class="display-1">{{country.name.official}}</h1>
    </div>
    <div class="row mt-3">
        <div class="col-4">
            <shared-image [imageURL]="country.flags.svg"></shared-image>
        </div>
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item"><strong>Code: </strong> {{country.cca2}} </li>
                <li class="list-group-item"><strong>Population: </strong>{{country.population | number }} </li>
                <li class="list-group-item">
                    <strong>Borders: </strong>
                    <span class="m-2" *ngFor="let item of country.borders">
                        <a class="text-decoration-none btn btn-sm btn-secondary" [routerLink]="['/countries/by/',item]">{{item}}</a>
                    </span> 
                </li>
                <li class="list-group-item"><strong>Area km2: </strong>{{country.area | number}}</li>
                <li class="list-group-item">
                    <strong>Languages: </strong>
                    <span class="m-2" *ngFor="let lang of object.values(country.languages)">
                        {{lang}}
                    </span> 
                </li>
                <li class="list-group-item">
                    <strong>Currencies</strong>
                    <ul class="m-2" *ngFor="let currency of object.values(country.currencies)">
                        <li><span>{{currency.name}}</span> - <span>{{currency.symbol}}</span></li>
                    </ul> 
                </li>
                <li class="list-group-item"><strong>Independent: </strong>{{country.independent?'Si':'No'}}</li>
            </ul>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h3>Translations</h3>
            <div class="d-flex flex-wrap">
                <div class="mx-2" *ngFor="let item of object.values(country.translations)">
                    <span class="badge bg-primary">{{item.official}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
