<h2 class="display-4">By Region</h2>
<hr>
<div class="row text-center">
    <div class="col my-3">
        <button class="btn btn-sm m-2" [ngClass]="{'btn-outline-primary':selectedRegion==region}" *ngFor="let region of regions" (click)="searchByRegion(region)">{{region}}</button>
    </div>
    <hr>
</div>
<div class="row">
    <div class="col text-center">
        <shared-loader *ngIf="isLoading"></shared-loader>
        <country-table [countries]="countriesList"></country-table>
    </div>
</div>

